@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400&family=Playfair+Display:wght@400;700&family=Poppins:wght@500;600;700;800&display=swap');

:root {
    /* THEME COLORS */
    --color-light: #F9FAFF;
    --color-blue: #495EF9;
    --color-text: #1F2958;
    --color-text-secondary: #666C8B;
    --color-accent-orange: #FE7247;
    --color-bg-light: #F0F2FF;
    --color-bg-light-rgba: rgba(73, 94, 249, 0.1);

    --color-white: #FFFFFF;
    --color-black: #000000;

    --box-shadow: 3px 1px 5px rgba(1, 4, 64, .1);

    /* FONT FAMILY */
    font-family: 'Poppins', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Inter', sans-serif;

    /* FONTS */
    --font-body: 'Inter', sans-serif;
    --font-headline: 'Poppins', sans-serif;
    --font-quote: 'Playfair Display', serif;

    /* FONT SIZE */
    --fs-body: 1em;
    --fs-headline1: 2.5em;
    --fs-headline2: 2em;
    --fs-headline3: 1.5em;
    --fs-headline4: 1.2em;
    --fs-quote: 1.2em;

    /* FONT WEIGHT */
    --fw-regular: 400;
    --fw-bold: 700;
    --fw-light: 300;
    --fw-semi-bold: 600;
    --fw-extra-bold: 800;

    /* LINE HEIGHT */
    --lh-standard: 1.5em;

    --header-height: 3rem;
    --nav-width: 170px;
}

*,::before,::after{
    box-sizing: border-box
}

body{
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
    color: var(--color-text);
    background: var(--color-bg-light);
}

h1 {
    font-family: var(--font-headline);
    font-size: var(--fs-headline1);
    font-weight: var(--fw-extra-bold);
    line-height: var(--lh-standard);
    color: var(--color-blue);
}

h2 {
    font-family: var(--font-headline);
    font-size: var(--fs-headline2);
    font-weight: var(--fw-bold);
    line-height: var(--lh-standard);
    color: var(--color-text);
}

h3 {
    font-family: var(--font-headline);
    font-size: var(--fs-headline3);
    font-weight: var(--fw-semi-bold);
    color: var(--color-blue);
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover {
    cursor: pointer;
    color: var(--color-blue);
}

.text-muted{
    color: var(--color-text-secondary);
}

.bg-white{
    background-color: var(--color-white);
}

.bg-light {
    background-color: var(--color-bg-light);
}

.btn-primary {
    background-color: var(--color-blue);
    color: var(--color-white);
    border-color: var(--color-blue);
    transition: .5s;
}

.btn-primary:hover {
    background-color: var(--color-text);
}

.btn-outline-primary {
    color: var(--color-blue);
    border-color: var(--color-blue);
    transition: .5s;
}

.btn-outline-primary:hover {
    color: var(--color-white);
    background-color: var(--color-blue);
    border-color: var(--color-blue);
}

.header{
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    z-index: 100;
    transition: .5s;
    background: var(--color-bg-light);
}

#header_toggle{
    color: var(--color-blue);
    font-size: 1.5rem;
    cursor: pointer;
}

.ms-100 {
    margin-left: 100px;
    transition: .5s;
}

.logo-icon {
    background: url('../assets/icons/logo.svg') no-repeat center center;
    background-size: cover;
    width: 30px;
    height: 30px;
}

.l-navbar{
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--color-white);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: 100;
}

.nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}

.nav_logo, .nav_link{
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem;
}

.nav_logo{
    margin-bottom: 2rem;
}

.nav_logo-icon{
    font-size: 1.25rem;
    color: var(--color-text);
}

.nav_logo-name{
    color: var(--color-text);
    font-weight: 700;
}

.nav_link{
    position: relative;
    color: var(--color-text);
    margin-bottom: 1.5rem;
    transition: .3s;
}

.nav_link:hover{
    color: var(--color-blue);
}

.nav_icon{
    font-size: 1.25rem;
}

.shownav{
    left: 0;
    width: 170px;
}

.body-pd{
    padding-left: calc(var(--nav-width) + 1rem);
}

.active{
    color: var(--color-text);
}

.active::before{
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--color-text);
}

/* DASHBOARD */
.dashboard-main-news {
    margin-bottom: 1.5em;
    border-radius: 1em;
}

.dashboard-main-forum {
    margin-bottom: 1.5em;
    border-radius: 1em;
}

.dashboard-main-agenda {
    margin-bottom: 1.5em;
    border-radius: 1em;

}

.height-100{
    height:100vh;
}

/* FILEMANGER PAGE */
.files-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.files-grid-itemUpload {
    order: 0;
    padding: 2rem;
    width: 24rem; 
    height: 24rem;
}

.files-grid-item {
    padding: 2rem;
    width: 24rem; 
    height: 24rem;
}

.box-upload{
    border: 3px dashed var(--color-blue);
    background: url(../assets/icons/bx-plus.svg) no-repeat center center;
    background-size: 5rem;
    color: var(--color-blue);
}

main>.files-grid>div>a>i.bx {
    font-size: 5rem;
}

/* ---------- CALENDAR ---------- */
 
.calendar {
    text-align: center;
}
   
  .calendar header {
    position: relative;
}
   
  .calendar h2 {
    text-transform: uppercase;
  }
   
  .calendar thead {
    font-weight: 600;
    text-transform: uppercase;
  }
   
  .calendar tbody {
    color: var(--color-text);
  }
   
  .calendar tbody td:hover {
    border: 2px solid var(--color-blue);
  }
   
  .calendar td {
    border: 2px solid transparent;
    border-radius: 50%;
    display: inline-block;
    height: 3.5em;
    line-height: 3.5em;
    text-align: center;
    width: 3.5em;
  }
   
  .calendar .prev-month,
  .calendar .next-month {
    color: var(--color-text-secondary);
  }
   
  .calendar .prev-month:hover,
  .calendar .next-month:hover {
    border: 2px solid var(--color-text-secondary);
  }
   
  .current-day {
    background: var(--color-blue);
    color: var(--color-white);
  }
   
  .event {
    cursor: pointer;
    position: relative;
  }
   
  .event:after {
    background: var(--color-blue);
    border-radius: 50%;
    bottom: 0.5em;
    display: block;
    content: "";
    height: 0.5em;
    left: 50%;
    margin: 0 0 0 -0.25em;
    position: absolute;
    width: 0.5em;
  }
   
  .event.current-day:after {
    background: var(--color-white);
  }
   
  .btn-prev,
  .btn-next {
    border: 2px solid var(--color-light);
    border-radius: 50%;
    color: var(--color-blue);
    height: 2em;
    font-size: 0.75em;
    line-height: 2em;
    margin: -1em;
    position: absolute;
    top: 50%;
    width: 2em;
  }
   
  .btn-prev:hover,
  .btn-next:hover {
    background: #cbd1d2;
    color: #f9f9f9;
  }
   
  .btn-prev {
    left: 6em;
  }
   
  .btn-next {
    right: 6em;
  }

  .hide-mobile {
    display: none;
  }

  /* ACCOUNT */
  .account {
      width: 100%;
      flex-direction: column;
      gap: 1.5em;
      align-items: center;
  }

  .account__box__img {
      width: 80px;
      height: 80px;
  }

  .rounded-5 {
      border-radius: 1em;
  }

  .account__box {
      gap: 1em;;
  }

  .account__box__img {
      object-fit: contain;
  }

  /* FORUM PAGINA */
  .forumList__post {
      background: var(--color-white);
      box-shadow: var(--box-shadow);
  }

  .tags::before {
      content: '#';
  }

.tags {
    padding: 0.5em 0.7em;
    border: 1px solid var(--color-blue);
    color: var(--color-blue);
    border-radius: 0.5em;
    font-size: .9em;
}

.go-back {
    display: inline-block;
    border: none;
    background-color: transparent;
    color: var(--color-text);
}

#comment {
    width: 100%;
    border: 1px solid var(--color-text);
}

#comment:focus {
    border: 1px solid var(--color-blue);
}

@media screen and (min-width: 1300px){
    body{
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 1rem);
    }
    
    .header{
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
    }
    
    .header_img{
        width: 40px;
        height: 40px;
    }
    
    .header_img img{
        width: 45px;
    }

    #header-toggle {
        display: none;
    }
    
    .l-navbar{
        left: 0;
        padding: 1rem 1rem 0 0;
    }
    
    .shownav{
        width: calc(var(--nav-width) + 156px);
    }

    .dashboard-main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr, 2fr;
        grid-gap: 2rem;
    }

    .dashboard-main-news {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    .dashboard-main-forum {
        grid-column: 1/2;
        grid-row: 2 / 3;
    }

    .dashboard-main-agenda {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .hide-mobile {
        display: inline-block;
    }

    .account {
        flex-direction: row;
        justify-content: space-around;
        align-items: inherit;
    }

    .account__box__img {
        width: 180px;
        height: 180px;
    }
}